h1 {
  color: red;
  font
}

body {
  background-color: black;
  background-image: url("http://www.zingerbugimages.com/backgrounds/stars_background.gif");
}

.headline {
  color: red
}
/* This is not something I made today, I just didn't have it  */
