body {
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  font-family: monospace;
  margin-top: 15px;
  padding: 10px;
}

.image {
  max-width: 25%;
  float: left;
  margin: 15px;
}

.interests ul {
    list-style: upper-roman inside;
}

.interests ul ul {
    list-style: lower-roman inside;
}

.projects ul {
  list-style: square inside;
}

.numbered { /* figure out how to do this with child */
  padding: 5px;
}

.image:hover {
  max-width: 50%;
}

img:hover {
  max-width: 90%;
  /* background: url("img/dumpster.jpg"); I can't for the life of me figure out why this doesn't work with url() or src() */
  background: url("https://1.bp.blogspot.com/-xx0AopECie8/UW9Q-JLY46I/AAAAAAAAAhw/Ti_ST53dPqY/s1600/Dumpster-Fire.jpg");
}

.container {
  margin-bottom: 25px;
}


/* This section is for the bottom panel */
.panel-title  {
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  background-color: green;
}

.panel-body {
  background-color: crimson;
}

.nerds {
  font-weight: bold;
  color: green;
}

.nerds:hover {
  font-family: fantasy;
}

#bottom-bar {
  background: black;
  padding-top: 15px;
}
