body {
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  font-family: monospace;
  margin-top: 15px;
  padding: 10px;
}

.image {
  max-width: 25%;
  float: left;
  margin: 15px;
}

.dog {
  max-width: 400px;
  float: right;
  margin: 15px;
  margin-top: 150px;

}

ul li {
  margin-bottom: 10px;
}

.projects ul {
  list-style: square inside;
  padding-bottom: 10px;
}

.interests {
  padding-left: 20px;
}

.interests ul {
    list-style: upper-roman inside;
}

.interests ul ul {
    list-style: lower-roman inside;
}

.image:hover {
  max-width: 50%;
}

a > img:hover {
  background: url("https://1.bp.blogspot.com/-xx0AopECie8/UW9Q-JLY46I/AAAAAAAAAhw/Ti_ST53dPqY/s1600/Dumpster-Fire.jpg");
}

.container {
  margin-bottom: 25px;
}

/* This section is for the bottom panel */
.panel-title  {
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  background-color: green;
}

.panel-body {
  background-color: crimson;
}

.nerds {
  font-weight: bold;
  color: green;
}

.nerds:hover {
  font-family: fantasy;
}

h4  {
  text-align: center;
  font-weight: bold;
  font-family: serif;
}

#bottom-bar {
  background: black;
  padding-top: 15px;
}

footer {
  font-size: 8px;
  color: grey;
  text-align: center;
  margin: 15px;
}
